<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="robot.include.xacro" />

	<!-- base link -->
	<link name="base_link">
	</link>

	<xacro:include filename="robot.chassis.xacro" />
	<xacro:include filename="robot.wheels.xacro" />
	<xacro:include filename="robot.camera.xacro" />
</robot>